/* globals.css */
@import "tailwindcss";

:root {
  --bg: #fff;
  --text: #171717;
  --border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --text: #ededed;
    --border: #262626;
  }
}

[data-theme="dark"] {
  --bg: #0a0a0a;
  --text: #ededed;
  --border: #262626;
}

[data-theme="light"] {
  --bg: #fff;
  --text: #171717;
  --border: #e5e7eb;
}

body {
  font-family: var(--font-sarpanch), sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
